<!DOCTYPE html>
<html lang=zh-cn>
  <head>
    <meta charset=utf-8>
    <title>下午好，奶茶！</title>
    <meta name="description" content="下午好，奶茶！">
    <link rel="shortcut icon" icon href="favicon.ico">
    <meta name=viewport content=width=device-width, user-scalable=no >
    <link rel=stylesheet href=main.css>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/jquery.nivo.slider.js"></script>
  </head>
  <body>
    <div id="js_home_slider">
      <volist name="home_img_list" id="vo">
        <img src={$vo.img_url}/>
      </volist>
    </div>
    <nav>fdsafdasf</nav>
  </body>
</HTML>



